

:root {
  --done: #4C956C;
  --done-transparent: rgba(76, 149, 108, 0.2);
  --denied: #C94C4C;
  --denied-transparent: rgba(201, 76, 76, 0.2);
  color-scheme: light;
}

*{
  font-family: "Noto Sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (prefers-color-scheme: light) {
  :root {
    --text-50: #e7f0fd;
    --text-100: #cfe1fc;
    --text-200: #a0c3f8;
    --text-300: #70a5f5;
    --text-400: #4087f2;
    --text-500: #1169ee;
    --text-600: #0d54bf;
    --text-700: #0a3f8f;
    --text-800: #072a5f;
    --text-900: #031530;
    --text-950: #020b18;

    --background-50: #e7f3fd;
    --background-100: #cfe6fc;
    --background-200: #a0cdf8;
    --background-300: #70b5f5;
    --background-400: #409cf2;
    --background-500: #1183ee;
    --background-600: #0d69bf;
    --background-700: #0a4f8f;
    --background-800: #07345f;
    --background-900: #031a30;
    --background-950: #020d18;

    --primary-50: #e7f2fd;
    --primary-100: #cfe5fc;
    --primary-200: #a0cbf8;
    --primary-300: #70b0f5;
    --primary-400: #4096f2;
    --primary-500: #117cee;
    --primary-600: #0d63bf;
    --primary-700: #0a4a8f;
    --primary-800: #07325f;
    --primary-900: #031930;
    --primary-950: #020c18;

    --secondary-50: #fbe7fd;
    --secondary-100: #f7cffc;
    --secondary-200: #efa0f8;
    --secondary-300: #e870f5;
    --secondary-400: #e040f2;
    --secondary-500: #d811ee;
    --secondary-600: #ad0dbf;
    --secondary-700: #820a8f;
    --secondary-800: #56075f;
    --secondary-900: #2b0330;
    --secondary-950: #160218;

    --accent-50: #fde7f6;
    --accent-100: #fccfec;
    --accent-200: #f8a0d9;
    --accent-300: #f570c6;
    --accent-400: #f240b4;
    --accent-500: #ee11a1;
    --accent-600: #bf0d81;
    --accent-700: #8f0a60;
    --accent-800: #5f0740;
    --accent-900: #300320;
    --accent-950: #180210;

    --text: #020d1d;
    --background: #e2f0fd;
    --primary: #094586;
    --primary-transparent: rgba(9, 69, 134, 0.2);
    --secondary: #e76bf5;
    --accent: #d70f91;

    border {
      color: transparent;
      -webkit-text-stroke: 3px var(--text);
    }

    background: var(--background);
    color: var(--text);
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --text-50: #020b18;
    --text-100: #031530;
    --text-200: #072a5f;
    --text-300: #0a3f8f;
    --text-400: #0d54bf;
    --text-500: #1169ee;
    --text-600: #4087f2;
    --text-700: #70a5f5;
    --text-800: #a0c3f8;
    --text-900: #cfe1fc;
    --text-950: #e7f0fd;

    --background-50: #020d18;
    --background-100: #031a30;
    --background-200: #07345f;
    --background-300: #0a4f8f;
    --background-400: #0d69bf;
    --background-500: #1183ee;
    --background-600: #409cf2;
    --background-700: #70b5f5;
    --background-800: #a0cdf8;
    --background-900: #cfe6fc;
    --background-950: #e7f3fd;

    --primary-50: #020c18;
    --primary-100: #031930;
    --primary-200: #07325f;
    --primary-300: #0a4a8f;
    --primary-400: #0d63bf;
    --primary-500: #117cee;
    --primary-600: #4096f2;
    --primary-700: #70b0f5;
    --primary-800: #a0cbf8;
    --primary-900: #cfe5fc;
    --primary-950: #e7f2fd;

    --secondary-50: #160218;
    --secondary-100: #2b0330;
    --secondary-200: #56075f;
    --secondary-300: #820a8f;
    --secondary-400: #ad0dbf;
    --secondary-500: #d811ee;
    --secondary-600: #e040f2;
    --secondary-700: #e870f5;
    --secondary-800: #efa0f8;
    --secondary-900: #f7cffc;
    --secondary-950: #fbe7fd;

    --accent-50: #180210;
    --accent-100: #300320;
    --accent-200: #5f0740;
    --accent-300: #8f0a60;
    --accent-400: #bf0d81;
    --accent-500: #ee11a1;
    --accent-600: #f240b4;
    --accent-700: #f570c6;
    --accent-800: #f8a0d9;
    --accent-900: #fccfec;
    --accent-950: #fde7f6;

    --text: #e2edfd;
    --background: #02101d;
    --primary: #79b6f6;
    --primary-transparent: rgba(121, 182, 246, 0.2);
    --secondary: #860a94;
    --accent: #f028aa;

    background: var(--background);
    color: var(--text);
  }
/*}*/
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  :root {
    font-size: 18px;
  } 
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  :root {
    font-size: 24px;
  }
}

body {
  min-width: 300px;
  width: 100vw;
  height: 100dvh;
  font-size: 1rem;
  line-height: 1.5;
  background: var(--background);
  font-weight: 500;
  color: var(--text);
}

h1, h2, h3, h4, h5 {
  font-weight: 700;
}
h1 {font-size: 3.366rem; /* 53.92px */}

h2 {font-size: 2.525rem; /* 40.32px */}

h3 {font-size: 1.894rem; /* 30.24px */}

h4 {font-size: 1.421rem; /* 22.72px */}

h5 {font-size: 1.066rem; /* 17.12px */}

p {font-size: 1rem; /* 16px */}

small {font-size: 0.600rem; /* 9.6px */}

text {
  color: var(--text);
}
sec {
  color: var(--secondary);
}
prim {
  color: var(--primary);
}
acc {
  color: var(--accent);
}
border {
  color: transparent;
  -webkit-text-stroke: 3px var(--text);
}