@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap');

:root {
  --done: #4C956C;
  --done-transparent: rgba(76, 149, 108, 0.2);
  --denied: #C94C4C;
  --denied-transparent: rgba(201, 76, 76, 0.2);
  color-scheme: light;
}

*{
  font-family: "Cabin", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (prefers-color-scheme: light) {
  :root {
    --text-50: #eef5f6;
    --text-100: #deebed;
    --text-200: #bcd6dc;
    --text-300: #9bc2ca;
    --text-400: #79adb9;
    --text-500: #5899a7;
    --text-600: #467a86;
    --text-700: #355c64;
    --text-800: #233d43;
    --text-900: #121f21;
    --text-950: #090f11;

    --background-50: #eef6f6;
    --background-100: #ddeeee;
    --background-200: #bbdddd;
    --background-300: #99cccc;
    --background-400: #77bbbb;
    --background-500: #55aaaa;
    --background-600: #448888;
    --background-700: #336666;
    --background-800: #224444;
    --background-900: #112222;
    --background-950: #091111;

    --primary-50: #edf8f8;
    --primary-100: #dbf0f0;
    --primary-200: #b6e1e2;
    --primary-300: #92d2d3;
    --primary-400: #6dc3c5;
    --primary-500: #49b4b6;
    --primary-600: #3a9092;
    --primary-700: #2c6c6d;
    --primary-800: #1d4849;
    --primary-900: #0f2424;
    --primary-950: #071212;

    --secondary-50: #eff0f6;
    --secondary-100: #dee2ed;
    --secondary-200: #bdc5db;
    --secondary-300: #9ca7c9;
    --secondary-400: #7b8ab7;
    --secondary-500: #5b6da4;
    --secondary-600: #485784;
    --secondary-700: #364163;
    --secondary-800: #242c42;
    --secondary-900: #121621;
    --secondary-950: #090b10;

    --accent-50: #efeff6;
    --accent-100: #dee0ed;
    --accent-200: #bec0da;
    --accent-300: #9da1c8;
    --accent-400: #7c81b6;
    --accent-500: #5c62a3;
    --accent-600: #494e83;
    --accent-700: #373b62;
    --accent-800: #252741;
    --accent-900: #121421;
    --accent-950: #090a10;

    --text: #0c1517;
    --background: #f5fafa;
    --primary: #47b1b3;
    --primary-transparent: rgba(71, 177, 179, 0.2);
    --secondary: #96a2c5;
    --accent: #585e9d;

    border {
      color: transparent;
      -webkit-text-stroke: 3px var(--text);
    }

    background: var(--background);
    color: var(--text);
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --text-50: #090f11;
    --text-100: #121f21;
    --text-200: #233d43;
    --text-300: #355c64;
    --text-400: #467a86;
    --text-500: #5899a7;
    --text-600: #79adb9;
    --text-700: #9bc2ca;
    --text-800: #bcd6dc;
    --text-900: #deebed;
    --text-950: #eef5f6;

    --background-50: #091111;
    --background-100: #112222;
    --background-200: #224444;
    --background-300: #336666;
    --background-400: #448888;
    --background-500: #55aaaa;
    --background-600: #77bbbb;
    --background-700: #99cccc;
    --background-800: #bbdddd;
    --background-900: #ddeeee;
    --background-950: #eef6f6;

    --primary-50: #071212;
    --primary-100: #0f2424;
    --primary-200: #1d4849;
    --primary-300: #2c6c6d;
    --primary-400: #3a9092;
    --primary-500: #49b4b6;
    --primary-600: #6dc3c5;
    --primary-700: #92d2d3;
    --primary-800: #b6e1e2;
    --primary-900: #dbf0f0;
    --primary-950: #edf8f8;

    --secondary-50: #090b10;
    --secondary-100: #121621;
    --secondary-200: #242c42;
    --secondary-300: #364163;
    --secondary-400: #485784;
    --secondary-500: #5b6da4;
    --secondary-600: #7b8ab7;
    --secondary-700: #9ca7c9;
    --secondary-800: #bdc5db;
    --secondary-900: #dee2ed;
    --secondary-950: #eff0f6;

    --accent-50: #090a10;
    --accent-100: #121421;
    --accent-200: #252741;
    --accent-300: #373b62;
    --accent-400: #494e83;
    --accent-500: #5c62a3;
    --accent-600: #7c81b6;
    --accent-700: #9da1c8;
    --accent-800: #bec0da;
    --accent-900: #dee0ed;
    --accent-950: #efeff6;

    --text: #e8f1f3;
    --background: #050a0a;
    --primary: #4db7b8;
    --primary-transparent: rgba(77, 183, 184, 0.2);
    --secondary: #3a4669;
    --accent: #6268a7;

    background: var(--background);
    color: var(--text);
  }
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  :root {
    font-size: 18px;
  } 
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  :root {
    font-size: 24px;
  }
}

body {
  min-width: 300px;
  width: 100vw;
  height: 100dvh;
  font-size: 1rem;
  line-height: 1.5;
  background: var(--background);
  font-weight: 500;
  color: var(--text);
}

h1, h2, h3, h4, h5 {
  font-weight: 700;
}
h1 {font-size: 3.366rem; /* 53.92px */}

h2 {font-size: 2.525rem; /* 40.32px */}

h3 {font-size: 1.894rem; /* 30.24px */}

h4 {font-size: 1.421rem; /* 22.72px */}

h5 {font-size: 1.066rem; /* 17.12px */}

p {font-size: 1rem; /* 16px */}

small {font-size: 0.600rem; /* 9.6px */}

text {
  color: var(--text);
}
sec {
  color: var(--secondary);
}
prim {
  color: var(--primary);
}
acc {
  color: var(--accent);
}
border {
  color: transparent;
  -webkit-text-stroke: 3px var(--text);
}